*.mp4
.mp4

.DS_Store
node_modules
# local env files
.env.local
.env.*.local

#git filter-branch --force --index-filter 'git rm --cached --ignore-unmatch  *soap*' --prune-empty --tag-name-filter cat -- --all
#git filter-branch --tree-filter 'ls -l backend/soap.php'

#git filter-branch --tree-filter 'rm -f backend/soap.php'

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*



/dist
*/video-config.php 
*/video-config.php 
/backend/video-config.php 
/converter/converter-config.php
composer.phar
/vendor/

