<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	 <security>
		<requestFiltering>
		  <requestLimits maxAllowedContentLength="1555111444"></requestLimits>
		</requestFiltering>
	 </security>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
		
		
		  <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
			<dynamicTypes>
			  <add mimeType="text/*" enabled="true"/>
			  <add mimeType="message/*" enabled="true"/>
			  <add mimeType="application/javascript" enabled="true"/>
			  <add mimeType="*/*" enabled="false"/>
			</dynamicTypes>
			<staticTypes>
			  <add mimeType="text/*" enabled="true"/>
			  <add mimeType="message/*" enabled="true"/>
			  <add mimeType="application/javascript" enabled="true"/>
			  <add mimeType="*/*" enabled="false"/>
			</staticTypes>
		  </httpCompression>
		  <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
		  
		  
		  
    </system.webServer>
</configuration>
